<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.backupmanagerexample"
    android:versionCode="1"
    android:versionName="1.0">
    <uses-sdk android:minSdkVersion="9"/>

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:backupAgent="ExampleAgent"
        android:theme="@style/Theme.BackupManagerExample">

        <!-- Some backup transports may require API keys or other metadata -->
        <meta-data android:name="com.google.android.backup.api_key"
            android:value="INSERT YOUR API KEY HERE"/>

        <activity android:name=".BackupManagerExample">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>